@charset "utf-8";
.modal_inner{padding:49px 47px 45px; width:420px; box-shadow: rgba(0,0,0,0.3);box-sizing:border-box;background:#fff; border-radius:5px;}
.txt_box{text-align:center;}
.txt_box span.ico{margin-bottom:25px; display:inline-block; width:60px; height:61px; background:url("src/assets/icons/img-correct-check.png") 50% 50% no-repeat; background-size:60px 61px;}
.txt_box p{font-size:15px; letter-spacing:-0.29px; line-height:165%; font-weight:bold; color:#999}
.txt_box p strong{text-decoration:underline;}
.txt_box p span{display:inline-block;}

.btn_complete{margin-top:52px; position:relative; display:block; width:100%; height:56px; line-height:56px; text-align:center; font-size:16px; font-weight:bold; color:#fff; border-radius:5px; background:#141414; border:none;cursor:pointer;outline: none;}
.btn_complete:hover:after{display:block; content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(255, 255, 255, 0.15);}

@media screen and (max-width:768px) {
  .modal_inner{width:88%;margin:auto;}
}
